<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CLA</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/PagedList")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="display: none; visibility: hidden;">
        @RenderSection("navigation2", required: false)
        @RenderSection("controlPanel", required: false)
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper-print main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lbt")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            @if (ViewBag.LCID != null)
            {
                @: LBT.LocalizedResources.LanguageName = "@ViewBag.LCID";
            }
            else
            {
                @: LBT.LocalizedResources.LanguageName = "@ViewBag.CurrentCultureLCID";
            }
        });
    </script>
</body>
</html>
