@using LBT.Resources
@model LBT.ModelViews.ManualTypeCreate

@{
    ViewBag.Title = ViewResource.ManualType_Create_Title_Text;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>@ViewResource.ManualType_Form_Legend_Text</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title, new { @class = "required" })
                @Html.EditorFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Order, new { @class = "required" })
                @Html.EditorFor(m => m.Order)
            </li>
        </ol>
        <input type="submit" value="@ViewResource.Global_BtnCreateTitle_Text" />
    </fieldset>
}

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Global_HplBackToManualTypeIndex_Text, "Index")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
