@using LBT.ModelViews
@using LBT.Resources
@model ManualTypeIndex[]

@{
    ViewBag.Title = ViewResource.ManualType_Index_Title_Text;
}

<p class="message-error">@ViewBag.StatusMessage</p>

<section class="List">
    <table>
        <thead>
            <tr>
                <th>
                    @FieldResource.Global_Title_Name
                </th>
                <th>
                    @FieldResource.Global_Order_Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3">@ViewResource.Global_NoRecord_Text</td>
                </tr>
            }
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(mi => i.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Order)
                    </td>
                    <td class="buttons">
                        <a href="@Url.Action("Edit", new { id = i.ManualTypeId })" title="@ViewResource.Global_HplEditTitle_Text"><span class="lbt-icon30-edit"></span></a>
                        <a href="@Url.Action("Delete", new { id = i.ManualTypeId })" title="@ViewResource.Global_HplDeleteTitle_Text"><span class="lbt-icon30-delete"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Global_HplCreateTitle_Text, "Create")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}