@using LBT.Resources
@model LBT.ModelViews.TaskIndex

@{
    ViewBag.Title = ViewResource.Task_Index_Title_Text;
}

<h1>@ViewResource.Home_Index_ActualTasks_Text<span class="lbt-icon30-rightArrow"></span></h1>

<section id="ActualTasks">
    @if (Model.ActualTasks.Any())
    {
        <table>
            @foreach (var i in Model.ActualTasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => i.Text)
                    </td>
                    <td>
                        <input type="image" src="~/Images/none.png" alt="@ViewResource.Home_Index_HplInsertDate_Text" title="@ViewResource.Home_Index_HplInsertDate_Text" onclick="EditTask(@i.PeopleContactId, '@i.FieldName'); return false;"/>
                        <a href="@Url.Action("Details", "PeopleContact", new { id = i.PeopleContactId })" title="@ViewResource.Global_HplDetailsTitle_Text"><span class="lbt-icon30-details"></span></a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@ViewResource.Home_Index_NoActualTasks_Text</p>
    }
</section>

<h1>@ViewResource.Home_Index_DelayedTasks_Text<span class="lbt-icon30-warning"></span></h1>

<section id="DelayedTasks">
    @if (Model.DelayedTasks.Any())
    {
        <table>
            @foreach (var i in Model.DelayedTasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => i.Text)
                    </td>
                    <td>
                        <input type="image" src="~/Images/none.png" alt="@ViewResource.Home_Index_HplInsertDate_Text" title="@ViewResource.Home_Index_HplInsertDate_Text" onclick="EditTask(@i.PeopleContactId, '@i.FieldName'); return false;"/>
                        <a href="@Url.Action("Details", "PeopleContact", new { id = i.PeopleContactId })" title="@ViewResource.Global_HplDetailsTitle_Text"><span class="lbt-icon30-details"></span></a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@ViewResource.Home_Index_NoDelayedTasks_Text</p>
    }
</section>

@Html.Partial("_PopupPartial")

@section Scripts {
    <script type="text/javascript">
        function EditTask(id, fieldName) {
            var url = '@Url.Action("EditTask", "PeopleContact")' + "?id=" + id + "&fieldName=" + fieldName;
            LBT.EditTask(url);
        }
    </script>
}
