@using LBT.Resources
@model LBT.ModelViews.RecoveryPassword

@{
    ViewBag.Title = @ViewResource.Account_PasswordRecovery_Title_Text;
}

<p>@Html.Raw(ViewResource.Account_PasswordRecovery_Information_Text)</p>

<section id="loginForm">
    @using (Html.BeginForm(new { ViewBag.LCID }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>@ViewResource.Global_SignFormLegend_Text</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.LCID, new { @class = "required" })
                    @Html.DropDownList("LCIDDropDownList", null, new { @onchange = "LBT.SendLcidRequest($(this).val());" })
                </li>
                <li>
                    @Html.LabelFor(m => m.UserName, new { @class = "required" })
                    @Html.TextBoxFor(m => m.UserName)
                </li>
            </ol>
            <input type="submit" value="@ViewResource.Global_BtnSendTitle_Text" />
        </fieldset>
    }
</section>
