@using LBT.ModelViews;
@using LBT.Resources
@model MeetingWebinarDetail

<section id="detailAdvancedForm">
    <table class="Main BusinessInfoFormatting">
        <tbody>
            <tr>
                <td class="Box">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(m => m.MeetingType):
                                    <b>@ListItemsResource.MeetingType_Webinar</b>
                                </td>
                                <td>
                                    @Html.DisplayNameFor(m => m.Date):
                                    <b>@Html.DisplayFor(m => m.Date)</b>
                                </td>
                                <td>
                                    @Html.DisplayNameFor(m => m.StartTime):
                                    <b>@Html.DisplayFor(m => m.StartTime)</b>
                                </td>
                                <td>
                                    @Html.DisplayNameFor(m => m.FinishTime):
                                    <b>@Html.DisplayFor(m => m.FinishTime)</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    @Html.DisplayNameFor(m => m.WebinarUrl):
                                    <b><a href="@Html.DisplayFor(m => m.WebinarUrl)" target="_blank" title="@ViewResource.Meeting_HplWebinarUrlTitle_Text">@ViewResource.Meeting_HplWebinarUrlTitle_Text</a></b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.DisplayNameFor(m => m.Organizer):
                                    <b>@Html.DisplayFor(m => m.Organizer)</b>
                                </td>
                                <td colspan="2">
                                    @Html.DisplayNameFor(m => m.MeetingKind):
                                    <b>@ListItemsResource.MeetingKind_Public</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.DisplayNameFor(m => m.MainLeader):
                                    <b>@Html.DisplayFor(m => m.MainLeader)</b>
                                </td>
                                <td colspan="2">
                                    @Html.DisplayNameFor(m => m.FillCapacity):
                                    <b>@Html.DisplayFor(m => m.FillCapacity)</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    @Html.DisplayNameFor(m => m.SecondaryLeader):
                                    <b>@Html.DisplayFor(m => m.SecondaryLeader)</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="Box BoxLongText">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@Html.DisplayNameFor(m => m.Lecturer):</b>
                                    @Html.DisplayFor(m => m.Lecturer)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>@Html.DisplayNameFor(m => m.Note):</b>
                                    <div class="rawHtml">@Html.Raw(Model.Note)</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</section>
