@using LBT.ModelViews;
@using LBT.Resources
@model IEnumerable<MeetingBusinessInfoIndex>

@{
    ViewBag.Title = ViewResource.Meeting_BusinessInfoPrintIndex_Title_Text;
}

<h1>@ViewBag.Title</h1>
<section id="UserProfiles">
    <table>
        <tr>
            <th>
                @FieldResource.Global_City_Name
            </th>
            <th>
                @FieldResource.Global_Date_Name
            </th>
            <th>
                @FieldResource.Meeting_Day_Name
            </th>
            <th>
                @FieldResource.Meeting_Time_Name
            </th>
            <th>
                @FieldResource.Meeting_AddressLine1_Name
            </th>
            <th>
                @FieldResource.Meeting_Organizer_Name
            </th>
            <th>
                @FieldResource.Meeting_FreeCapacity_Name
            </th>
            <th>
                @FieldResource.Meeting_Lecturer_Name
            </th>
        </tr>

        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mi => i.City)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Date)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Day)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Time)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Street)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Organizer)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.FreeCapacity)
                </td>
                <td>
                    @Html.DisplayFor(mi => i.Lecturer)
                </td>
            </tr>
        }
    </table>
</section>

<p>
    @ViewBag.IsListCuttedMessage
</p>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            window.print();
        });
    </script>
}
