@using LBT.ModelViews;
@using LBT.Resources
@model PagedList.IPagedList<MeetingMspEveningIndex>

@{
    ViewBag.Title = ViewResource.Meeting_MspEveningArchiveIndex_Title_Text;
}

@using (Html.BeginForm("MspEveningArchiveIndex", "Meeting", FormMethod.Get))
{
    @Html.Partial("_FilteringPartial", new FilteringPartialModelView())
    
    @Html.Partial("_PagingPartial", new PagingPartialModelView { ActionName = "MspEveningArchiveIndex", List = Model })
}

<p class="message-error">@ViewBag.StatusMessage</p>

<section id="List">
    <table>
        <thead>
            <tr>
                <th class="@ViewBag.CitySortSymbol">
                    @Html.ActionLink(FieldResource.Global_City_Name, "MspEveningArchiveIndex", new { sortOrder = ViewBag.CitySortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th class="@ViewBag.DateSortSymbol">
                    @Html.ActionLink(FieldResource.Global_Date_Name, "MspEveningArchiveIndex", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th>
                    @FieldResource.Meeting_Day_Name
                </th>
                <th>
                    @FieldResource.Meeting_Time_Name
                </th>
                <th class="@ViewBag.AddressLine1SortSymbol">
                    @Html.ActionLink(FieldResource.Meeting_AddressLine1_Name, "MspEveningArchiveIndex", new { sortOrder = ViewBag.AddressLine1SortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th class="@ViewBag.OrganizerSortSymbol">
                    @Html.ActionLink(FieldResource.Meeting_Organizer_Name, "MspEveningArchiveIndex", new { sortOrder = ViewBag.OrganizerSortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th>
                    @FieldResource.Meeting_FreeCapacity_Name
                </th>
                <th>
                    @FieldResource.Meeting_Lecturer_Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="9">@ViewResource.Global_NoRecord_Text</td>
                </tr>
            }
            @foreach (var i in Model)
            {
                <tr class="MspEveningFormatting">
                    <td>
                        @Html.DisplayFor(mi => i.City)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Organizer)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.FreeCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Lecturer)
                    </td>
                    <td class="buttons">
                        <a href="@Url.Action("MspEveningArchiveDetails", new { id = i.MeetingId })" title="@ViewResource.Global_HplDetailsTitle_Text"><span class="lbt-icon30-details"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@using (Html.BeginForm("MspEveningArchiveIndex", "Meeting", FormMethod.Get))
{
    @Html.Partial("_PagingPartial", new PagingPartialModelView { SectionId = "Paging2", ActionName = "MspEveningArchiveIndex", List = Model })
}

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Meeting_MspEveningArchiveIndex_HplBackTitle_Text, "MspEveningIndex")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
