@using LBT.Extensions
@using LBT.Resources
@model LBT.ModelViews.MeetingMspEveningEdit

@{
    ViewBag.Title = ViewResource.Meeting_MspEveningEdit_Title_Text;
}

<section id="createForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.MeetingId)
        @Html.HiddenFor(m => m.OrganizerId)

        <fieldset>
            <legend>@ViewResource.Meeting_MspEvening_Legend_Text</legend>
            <table class="Main">
                <tbody>
                    <tr>
                        <td colspan="2" class="Box">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.MeetingType, new { @class = "required" }):
                                        </th>
                                        <td>
                                            @ListItemsResource.MeetingType_MspEvening
                                        </td>
                                        <th>
                                            @Html.LabelFor(m => m.Date, new { @class = "required" }):
                                        </th>
                                        <td>
                                            @Html.CalenderTextBoxFor(m => m.Date)
                                        </td>
                                        <th>
                                            @Html.LabelFor(m => m.StartTime, new { @class = "required" }):
                                        </th>
                                        <td>
                                            @Html.EditorFor(m => m.StartTime)
                                        </td>
                                        <th>
                                            @Html.LabelFor(m => m.FinishTime, new { @class = "required" }):
                                        </th>
                                        <td>
                                            @Html.EditorFor(m => m.FinishTime)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.City, new { @class = "required" }):
                                        </th>
                                        <td colspan="3">
                                            @Html.EditorFor(m => m.City)
                                        </td>
                                        <th colspan="2">
                                            @Html.LabelFor(m => m.MeetingKind, new { @class = "required" }):
                                        </th>
                                        <td colspan="2">
                                            @ListItemsResource.MeetingKind_MSP
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.AddressLine1, new { @class = "required" }):
                                        </th>
                                        <td colspan="7">
                                            @Html.EditorFor(m => m.AddressLine1)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.Capacity, new { @class = "required" }):
                                        </th>
                                        <td colspan="3">
                                            @Html.EditorFor(m => m.Capacity)
                                        </td>
                                        <th colspan="2">
                                            @Html.LabelFor(m => m.MainLeaderId, new { @class = "required" }):
                                        </th>
                                        <td colspan="2">
                                            @Html.DropDownList("MainLeaderId", ListItemsResource.MainLeader_DropDownListTitle)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.Lecturer, new { @class = "required" }):
                                        </th>
                                        <td colspan="3">
                                            @Html.EditorFor(m => m.Lecturer)
                                        </td>
                                        <th colspan="2">
                                            @Html.LabelFor(m => m.SecondaryLeaderId):
                                        </th>
                                        <td colspan="2">
                                            @Html.DropDownList("SecondaryLeaderId", ListItemsResource.SecondaryLeader_DropDownListTitle)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.SecondaryOrganizerId):
                                        </th>
                                        <td colspan="7">
                                            @Html.DropDownList("SecondaryOrganizerId", ListItemsResource.SecondaryOrganizer_DropDownListTitle)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.Private):
                                        </th>
                                        <td colspan="7">
                                            @Html.CheckBoxFor(m => m.Private)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.LabelFor(m => m.Note, new { @class = "required" }):<br />
                                        </th>
                                        <td colspan="7">
                                            @Html.TextAreaFor(m => m.Note, new { @rows = "10" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="@ViewResource.Global_BtnSaveTitle_Text" />
        </fieldset>
    }
</section>

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Global_HplBackTitle_Text, "MspEveningIndex")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            LBT.ApplyTinyMCE();
        });
    </script>
}
