@using LBT.Resources
@model LBT.ModelViews.MeetingSetkaniTymuEdit

@{
    ViewBag.Title = ViewResource.Meeting_SetkaniTymuDelete_Title_Text;
}

<p>@ViewResource.Global_DeleteConfirmationQuestion_Text</p>

<section id="deleteForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    
        <fieldset>
            <legend>@ViewResource.Meeting_SetkaniTymu_Legend_Text</legend>
            <table>
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title):
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Title)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.City):
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.City)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateStartTime):
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.DateStartTime)
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" autofocus value="@ViewResource.Global_BtnDeleteTitle_Text" />
        </fieldset>
    }
</section>

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Global_HplBackTitle_Text, "SetkaniTymuIndex")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}