@using LBT.ModelViews;
@using LBT.Resources
@model MeetingWebinarDetail

@{
    ViewBag.Title = ViewResource.Meeting_WebinarDetails_Title_Text;
}

<p class="message-error">@ViewBag.StatusMessage</p>

@Html.Partial("_WebinarDetails")

<h2>@ViewResource.Global_MeetingListAttendees_Text</h2>

<section id="List">
    <table>
        <thead>
            <tr>
                <th>
                    @FieldResource.Global_FirstName_Name
                </th>
                <th class="@ViewBag.LastNameSortSymbol">
                    @Html.ActionLink(FieldResource.Global_LastName_Name, "WebinarDetails", new { sortOrder = ViewBag.LastNameSortParam })
                </th>
                <th>
                    @FieldResource.Meeting_Residence_Name
                </th>
                <th class="@ViewBag.LyonessIdSortSymbol">
                    @Html.ActionLink(FieldResource.Global_LyonessId_Name, "WebinarDetails", new { sortOrder = ViewBag.LyonessIdSortParam })
                </th>
                <th>
                    @FieldResource.Meeting_Leader_Name
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.MeetingAttendees.Any())
            {
                <tr>
                    <td colspan="6">@ViewResource.Global_NoRecord_Text</td>
                </tr>
            }
            @foreach (var i in Model.MeetingAttendees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(mi => i.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.City)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.LyonessId)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Leader)
                    </td>
                    <td class="buttons">
                        @if (i.AccessUnsign)
                        {
                            <a class="delete" href="@Url.Action("WebinarDeleteAttendee", new { id = i.MeetingAttendeeId })" title="@ViewResource.Global_HplDeleteTitle_Text"><span class="lbt-icon30-delete"></span></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        @if (Model.AccessSignUnsign)
                        {
                            <li>@Html.ActionLink(ViewResource.Global_SignUnsignTitle_Text, "WebinarSignUnsign", new { id = Model.MeetingId })</li>                            
                        }
                        @if (Model.AccessEdit)
                        {
                            <li>@Html.ActionLink(ViewResource.Global_HplEditTitle_Text, "WebinarEdit", new { id = Model.MeetingId })</li>                            
                        }
                        <li>@Html.ActionLink(ViewResource.Global_HplPrintAttendeesTitle_Text, "WebinarPrintDetail", new { id = Model.MeetingId, sortOrder = ViewBag.CurrentSort }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink(ViewResource.Global_HplBackTitle_Text, "WebinarIndex")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            LBT.ConfirmUnsignUser();
        });
    </script>
}