@using LBT.ModelViews;
@using LBT.Resources
@model PagedList.IPagedList<MeetingWebinarIndex>

@{
    ViewBag.Title = ViewResource.Meeting_WebinarIndex_Title_Text;
}

@using (Html.BeginForm("WebinarIndex", "Meeting", FormMethod.Get))
{
    @Html.Partial("_FilteringPartial", new FilteringPartialModelView())

    @Html.Partial("_PagingPartial", new PagingPartialModelView { ActionName = "WebinarIndex", List = Model })    
}

<p class="message-error">@ViewBag.StatusMessage</p>

<section id="List">
    <table>
        <thead>
            <tr>
                <th class="@ViewBag.DateSortSymbol">
                    @Html.ActionLink(FieldResource.Global_Date_Name, "WebinarIndex", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th>
                    @FieldResource.Meeting_Day_Name
                </th>
                <th>
                    @FieldResource.Meeting_Time_Name
                </th>
                <th class="@ViewBag.OrganizerSortSymbol">
                    @Html.ActionLink(FieldResource.Meeting_Organizer_Name, "WebinarIndex", new { sortOrder = ViewBag.OrganizerSortParam, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording, filteredUserId = ViewBag.SelectedFilteredUserId, pageSize = ViewBag.PageSizeCount })
                </th>
                <th>
                    @FieldResource.Meeting_FillCapacity_Name
                </th>
                <th>
                    @FieldResource.Meeting_Lecturer_Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="7">@ViewResource.Global_NoRecord_Text</td>
                </tr>
            }
            @foreach (var i in Model)
            {
                <tr class="BusinessInfoFormatting">
                    <td>
                        @Html.DisplayFor(mi => i.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Organizer)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.FillCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(mi => i.Lecturer)
                    </td>
                    <td class="buttons">
                        <a href="@Url.Action("WebinarDetails", new { id = i.MeetingId })" title="@ViewResource.Global_HplDetailsTitle_Text"><span class="lbt-icon30-details"></span></a>
                        @if (i.Access == Access.Write)
                        {
                            <a href="@Url.Action("WebinarEdit", new { id = i.MeetingId })" title="@ViewResource.Global_HplEditTitle_Text"><span class="lbt-icon30-edit"></span></a>
                            <a href="@Url.Action("WebinarDelete", new { id = i.MeetingId })" title="@ViewResource.Global_HplDeleteTitle_Text"><span class="lbt-icon30-delete"></span></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@using (Html.BeginForm("WebinarIndex", "Meeting", FormMethod.Get))
{
    @Html.Partial("_PagingPartial", new PagingPartialModelView { SectionId = "Paging2", ActionName = "WebinarIndex", List = Model })
}

@section navigation2
{
    <div id="navigation2">
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul class="menu2">
                        <li>@Html.ActionLink(ViewResource.Global_HplCreateMeetingTitle_Text, "WebinarCreate")</li>                            
                        @if (ViewBag.ShowShowAll)
                        {
                            <li>@Html.ActionLink(ViewResource.Global_HplShowAllMeetingsTitle_Text, "WebinarIndex", new { showAll = true })</li>
                        }
                        @if (ViewBag.ShowAvailable)
                        {
                            <li>@Html.ActionLink(ViewResource.Global_HplShowAvailableMeetingsTitle_Text, "WebinarIndex", new { showAll = false })</li>
                        }
                        <li>@Html.ActionLink(ViewResource.Global_HplPrintListTitle_Text, "WebinarPrintIndex", new { showAll = ViewBag.IsShowAll, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilterAccording = ViewBag.CurrentFilterAccording }, new { target = "_blank" })</li>
                        <li>@Html.ActionLink(ViewResource.Global_HplMeetingArchiveTitle_Text, "WebinarArchiveIndex")</li>                            
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
